
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
    font-family: 'Ubuntu',scns-serif;
}
.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;

}
.topleft{
    width: 50%;
  
}

.topright{
    width: 50%;
    
}

.section1{
    
   max-height:100vh ; 
   /* grid-template-columns: repeat(1,1fr); */
}

.logo{
    font-size: 1.3rem;
}
.dumbelling{
    width: 283px;
}
.topright .gyming{
    width: 290px;

}.section2{
    padding: 73px;
   
}


.section2 h1{
   
    font-size: 2.5rem;
}
.section2 p{
    padding: 0 8vw;
     text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(235, 163, 10);
    text-align: center;
    border-radius: 8px;
    
   justify-content: center;
   align-items: center;
}

@media screen and (min-width:680px){
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
    
}
    
     
 
.box h2{
    font-size: 2rem;
    padding: 12px 0;
}
.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}
.box ul{
    list-style-type: none;
}
.box ul li{
    margin: 12px 2px;
}
.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 table{
    width: 100%;
    margin-bottom: 140px ;
    margin-top: 20px;
    border-collapse: collapse;

}
.section3 table th{
    
width: 23vw;
border-bottom: 2px solid black;
padding: 15px 0;

}
.section3 table td{
    
    
    border-bottom: 2px solid black;
    
    }

.section3 h1{
   
    font-size: 2.5rem;
}
.section3 h1{
   
    padding: 73px;
}
footer{
    padding: 23px;
    text-align: center;
}